* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  font-size: 36px;
  place-content: center;
  color: #fff;
  background-color: #000;
}
img {
  height: 800px;
}
